<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wang.dao.SysUserMapper">
    <!-- 定义UserMap -->
    <resultMap id="BaseResultMap" type="com.wang.entity.SysUser">
        <id column="id" property="id" />
        <result column="userName" property="userName" />
        <result column="password" property="password" />
        <result column="realName" property="realName" />
        <result column="sex" property="sex" />
        <result column="deptId" property="deptId" />
        <result column="status" property="status" />
        <result column="email" property="email" />
        <result column="phone" property="phone" />
        <result column="userType" property="userType" />
        <result column="hireDate" property="hireDate" />
        <result column="createdBy" property="createdBy" />
        <result column="createDate" property="createDate" />
        <result column="modifyBy" property="modifyBy" />
        <result column="modifyDate" property="modifyDate" />
        <result column="remark" property="remark" />
    </resultMap>

<!--    用户角色关系配置-->
    <resultMap id="userRoleResultMap" type="com.wang.entity.SysUser" extends="BaseResultMap">
<!--        一对多-->
        <collection property="roleList" column="id" ofType="com.wang.entity.Role" select="com.wang.dao.RoleMapper.findRoleListByUserId"/>
    </resultMap>

<!--    用户部门的关系配置-->
    <resultMap id="userDeptResultMap" type="com.wang.entity.SysUser" extends="BaseResultMap">
<!--        一对一-->
        <association property="dept" javaType="com.wang.entity.Dept">
            <id property="id" column="id"/>
            <result property="deptName" column="deptName"/>
            <result property="address" column="address"/>
        </association>
    </resultMap>
<!--   根据用户名查询用户信息的方法-->
    <select id="fidUserByUserName" resultMap="userRoleResultMap">
        select *
        from sys_user where userName = #{userName};
    </select>

    <select id="findUserList" resultMap="userDeptResultMap">
        select u.*,d.deptName from sys_user u left join sys_dept d on d.id = u.deptId
        <where>
            <if test="userName!=null and userName!=''">
                and u.userName like concat('%',#{userName},'%')
            </if>
            <if test="realName!=null and realName!=''">
                and u.realName like concat('%',#{realName},'%')
            </if>
            <if test="sex!=null">
                and u.sex = #{sex}
            </if>
            <if test="deptId!=null">
                and u.deptId = #{deptId}
            </if>
            <if test="status!=null">
                and u.status = #{status}
            </if>
            <if test="startDate!=null">
                <![CDATA[ and u.hireDate >= #{startDate} ]]>
            </if>
            <if test="endDate!=null">
                <![CDATA[ and u.hireDate <= #{endDate} ]]>
            </if>
            <if test="userType!=null">
                and u.userType = #{userType}
            </if>
        </where>
    </select>

    <insert id="insert" parameterType="com.wang.entity.SysUser">
        insert into sys_user (id, userName, password,
                              realName, sex, deptId,
                              status, email, phone,
                              userType, hireDate, createdBy,
                              createDate, remark)
        values (  #{id,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},
                 #{realName,jdbcType=VARCHAR}, #{sex,jdbcType=INTEGER}, #{deptId,jdbcType=INTEGER},
                 #{status,jdbcType=INTEGER}, #{email,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR},
                 #{userType,jdbcType=INTEGER}, #{hireDate,jdbcType=TIMESTAMP}, #{createdBy,jdbcType=INTEGER},
                 #{createDate,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR})
    </insert>

</mapper>